@{
    ViewData["Title"] = "Contact";
}
<style>
    address {
        font-size: 15px;
    }
</style>
<div class="container body-content">
    <h1 class="main-title">
        @ViewData["Title"]
    </h1>
    <br />
    <h2 class="second-title">
        Serena Yu<span style="font-size:medium;">, Ph.D</span>
    </h2>
    <address>
        Sydney, NSW, Australia<br />
    </address>

    <address>
        <strong>Email:</strong> <a href="mailto:serena.f.yu@gmail.com">serena.f.yu@gmail.com</a><br />
        <strong>Github: </strong> <a href="https://github.com/serena-yu17" target="_blank"> https://github.com/serena-yu17 </a>
    </address>
</div>