@{
    ViewData["Title"] = "Bus Locations";
}

<style>
    .input-group-header{
        width:100px;
    }
</style>

<form>
    <div class="form-group">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text input-text input-group-header">
                    Bus Route
                </span>
            </div>
            <input class="form-control" id="route" type="text" placeholder="400" />
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text input-text input-group-header">
                    Direction
                </span>
            </div>
            <select class="form-control" id="direction">
            </select>
        </div>
        <button class="btn btn-outline-primary input-group-header" type="submit" id="submit" disabled>Go</button>
    </div>
</form>
<br /><br />
<div id="map"></div>

<script src="~/js/site.js"></script>
<script>
    var tripUrl = '@Url.Action("RouteNo")';
</script>
