@{
    ViewData["Title"] = "Bus Locations";
}

<h1 class="main-title">
    Realtime location for Sydney buses and trains
</h1>
<br />
<form>
    <div class="form-group">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text input-text input-group-header form-headers">
                    Route ID
                </span>
            </div>
            <input class="form-control" id="route" type="text" placeholder="Input your bus/train route ID e.g. 400, T2" />
            <div class="input-group-addon">
                <button id="searchRoute" class="btn btn-outline-secondary" type="submit"><img src="~/images/lookup.svg" style="height:20px;" /></button>
            </div>
        </div>
    </div>
</form>
<form>
    <div id="directionForm" class="hidden">
        <label for="directionOptions" class="form-headers">Directions:</label>
        <div class="form-group" id="directionOptions"></div>
    </div>
</form>
<div id="map" class="hidden map-layout">
</div>
<div id="prompt" class="hidden"></div>
<script>
    function initMap() { }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=&callback=initMap"
        type="text/javascript"></script>
<script>
    const tripUrl = '@Url.Action("Route")';
    const locUrl = '@Url.Action("Location")';
    const stopUrl = '@Url.Action("Stop")';    
</script>
<script src="~/js/site.min.js"></script>
